/**
 * @name TaterTheme
 * @author Nyria#3863
 * @version 2.2
 * @description Stay comfy while talking to your friends.
 * @invite rtBQX5D3bD
 * @source https://github.com/NYRI4/Comfy
 * @BDEditor Comfy
*/

@import url('https://comfy-themes.github.io/Discord/betterdiscord/main.css');
@import url('https://comfy-themes.github.io/Discord/betterdiscord/no-scrollbar.css');
@import url('https://comfy-themes.github.io/Discord/betterdiscord/better-spotify.css');

:root {
  --mention-color-bar: #B70505;
  --mention-color-background: rgba(198, 98, 98, 0.12);
  --mention-color-hover: rgba(198, 98, 98, 0.15);
  --mention-color: #00D108;
  --unread-color: #7ACF17;
  --chat-buttons: #7DE109;
  --avatar-radius: 24px;
  --status-radius: 10px;
  --server-radius: 14px;
  --status-background: url('https://i.imgur.com/ODa8LKK.jpg');
  --online: #43B581;
  --iddle: #FAA61A;
  --dnd: #F04747;
  --offline: #747F8D;
  --streaming: #593695;
  --spotify-color: #1EDC62;
  --user-buttons-spacing: 8px;
  --user-buttons-color: #8BC34A;
  --role-circle: 12px;
  --discord-logo: block;
  --colored-emoji: grayscale(0%);
  --disable-animations: 2s channel-unread infinite;
}

.theme-dark {
  --background-primary: #005004;
  --background-secondary: #006004;
  --background-secondary-alt: #113B13;
  --background-tertiary: #003702;
  --background-mobile-primary: #4CAF50;
  --background-mobile-secondary: #4CAF50;
  --channeltextarea-background: #004403;
  --background-accent: #004403;
  --background-modifier-hover: rgb(220,56,56,0.06);
  --background-modifier-active: rgba(0, 0, 0, 0.10);
  --background-modifier-selected: rgba(0, 0, 0, 0.12);
  --deprecated-card-bg: rgba(18, 20, 31, 0.39);
  --background-floating: rgb(49,88,255,1);
  --deprecated-quickswitcher-input-background: #0F173C;
  --scrollbar-auto-thumb: #276BFF;
  --scrollbar-auto-track: #191F2E;
  --scrollbar-thin-thumb: #141925;
  --activity-card-background: #101320;
  --background-message-hover: transparent;
  --elevation-low: none;
}

.theme-light {
  --background-primary: #23283D;
  --background-secondary: #1E2233;
  --background-secondary-alt: #191F2E;
  --background-tertiary: #101320;
  --background-accent: #7289DA;
  --background-modifier-hover: #262B41;
  --background-modifier-active: #262B41;
  --header-primary: #fff;
  --header-secondary: #B1B5B9;
  --text-normal: #8E9297;
}

/* Any custom CSS below here */


